<!DOCTYPE html>
<html>
<head>
  <title>{{ Mapa }}</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
  <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
  <style type="text/css">
    .content-wrapper {
      padding: 20px;
    }

    .content-wrapper h2 {
      text-align: center;
      margin-bottom: 20px;
    }

    .content-wrapper p {
      text-align: justify;
      margin-bottom: 10px;
    }

    #map {
      height: 700px;
      width: 100%;
    }
  
    .map-container {
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }

    

    #container585 {
      height: 200px;
      margin-top: 20px;
      width: 100%;
    }
    
  </style>
</head>

<body>
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="container">
        <h2>Mapa</h2>
        <p>En esta sección puedes visualizar un mapa satelital de nuestra institución. En la que podrás seleccionar el árbol y/o monumento que quieras ver, junto con sus características</p>

        <div id="map" class="map-container"></div>
        <div class="marker-position"></div>
        <script>
          const map = L.map("map").setView([9.315161726912077, -75.38832306861879], 18);

          // Capa de azulejos de OpenStreetMap
          L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
          }).addTo(map);

          // Manejar el evento de clic en el mapa
          map.on("click", function (e) {
            const markerPlace = document.querySelector(".marker-position");
            markerPlace.textContent = `Nueva posición del marcador: ${e.latlng.lat}, ${e.latlng.lng}`;


            const marker = L.marker(e.latlng, { draggable: true })
              .addTo(map)
              .bindPopup('<button type="button" class="remove">Eliminar marcador</button>')
              .on("popupopen", function () {
                const btn = document.querySelector(".remove");
                btn.addEventListener("click", function () {
                  markerPlace.textContent = "Marcador eliminado";
                  map.removeLayer(marker);
                });
              })
              .on("dragend", function () {
                markerPlace.textContent = `Posición cambiada: ${this.getLatLng().lat}, ${this.getLatLng().lng}`;
              });

            // Enviar los datos del marcador al servidor
            const data = {
              lat: e.latlng.lat,
              lng: e.latlng.lng
            };

            fetch('/mapa', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
              console.log(data);
            })
            .catch(error => {
              console.error(error);
            });
          });
        </script>
      </div>
      
      <button class="btn btn-success" id="copyLatitudeButton">Copiar Latitud</button>
      <button class="btn btn-danger" id="copyLongitudeButton">Copiar Longitud</button>
      <div id="codigo-qr"></div>

      <style>
  #codigo-qr {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 300px;
    height: 300px;
    background-color: white;
  }
</style>

<script>
  // Obtener la URL de la página actual
  var url = window.location.href;

  // Generar el código QR
  var qrcode = new QRCode(document.getElementById("codigo-qr"), {
    text: url,
    width: 256,
    height: 256
  });
</script>

      <div id="outer-container585">
  <div id="inner-container585">
    <div id="container585"></div>
  </div>
  <div id="datos"></div> 
</div>

    
<script>
  anychart.onDocumentReady(function () {
    var chart = anychart.column();
    chart.animation(true);
    chart.title('Numero de árboles clasificados por especie');

    function obtenerDatos() {
      $.ajax({
        url: '/datos',
        method: 'GET',
        success: function(response) {
          actualizarGrafica(response);
        },
        error: function(error) {
          console.error(error);
        }
      });
    }


    function obtenerSummerAll() {
      $.ajax({
        url: '/summerImgAll',
        method: 'GET',
        dataType: "json",
        success: function(response) {
           console.log("----------------------------------- "+response)
        },
        error: function(error) {
          console.error(error);
        }
      });
    }


    function actualizarGrafica(datos) {
      chart.removeSeries(0); // Elimina la serie existente antes de agregar una nueva
     
      datos.sort(function(a, b) {
        // Ordena los datos por el valor de X en orden ascendente
        return a[0].localeCompare(b[0]);
      });

      var series = chart.column(datos);



      series.tooltip().titleFormat('{%X}');

      series
        .tooltip()
        .position('center-top')
        .anchor('center-bottom')
        .offsetX(0)
        .offsetY(5);
      chart.yScale().minimum(0);
      chart.tooltip().positionMode('point');
      chart.interactivity().hoverMode('by-x');
      chart.xAxis().title('Árboles');
      chart.yAxis().title('Cantidad');
      chart.container('container585');
      chart.background().enabled(false);
      chart.draw();
    }

    obtenerDatos();
   // obtenerSummerAll();

    setInterval(obtenerDatos, 5000);
  });
</script>



</style>
      
      <script>
      document.getElementById("copyLongitudeButton").addEventListener("click", function () {
     const markerPosition = document.querySelector(".marker-position");
     const coordinateText = markerPosition.textContent;
     const longitude = coordinateText.substring(coordinateText.indexOf(":") + 1).split(",")[1].trim();

    // Crear un elemento de textarea oculto para copiar el texto al portapapeles
     const textarea = document.createElement("textarea");
     textarea.value = longitude;
     document.body.appendChild(textarea);
     textarea.select();
     document.execCommand("copy");
     document.body.removeChild(textarea);

     // Mostrar una notificación o mensaje al usuario
      alert("La longitud se ha copiado al portapapeles: " + longitude);
      });

      document.getElementById("copyLatitudeButton").addEventListener("click", function () {
     const markerPosition = document.querySelector(".marker-position");
     const coordinateText = markerPosition.textContent;
     const latitude = coordinateText.substring(coordinateText.indexOf(":") + 1).split(",")[0].trim();

      // Crear un elemento de textarea oculto para copiar el texto al portapapeles
         const textarea = document.createElement("textarea");
         textarea.value = latitude;
         document.body.appendChild(textarea);
         textarea.select();
         document.execCommand("copy");
         document.body.removeChild(textarea);

          // Mostrar una notificación o mensaje al usuario
        alert("La latitud se ha copiado al portapapeles: " + latitude);
       });
        </script>
    </div>
  </div>
</body>
</html>

<div class="wrapper">
  <div class="content-wrapper">
    <style type="text/css">
      /* Estilos CSS aquí */

    </style>

    <div class="card-body">
      <p>Ingrese su formulario aquí</p>
      <form action="/images" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="{{nombre}}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="apellido" placeholder="Apellido" value="{{apellido}}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="programa" placeholder="Programa (Ej: Ingeniería electrónica)" value="{{programa}}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="Nombre de la especie" placeholder="Nombre de la especie" value="{{nombredelaespecie}}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="características" placeholder="Características (Ej: Características generales de la especie)" value="{{caracteristicas}}">
        </div>
        <div class="form-group">
           <input type="text" class="form-control" name="estadodesalud" placeholder="Estado de salud (Ej: Apariencia, presencia de enferdades o plagas)" value="{{estadodesalud}}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="latitud" placeholder="Latitud (Ej: 9.31520305667501)" value="{{latitud}}">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="longitud" placeholder="Longitud (Ej: -75.3884118779454)" value="{{longitud}}">
        </div>
        <div class="form-group">
          <label for="tipoArbol">Tipo de árbol</label>
          <select class="form-control" name="tipoArbol">
            <option value="Guanabana">Guanábana</option>
            <option value="Pera">Pera</option>
            <option value="Mango">Mango</option>
            <option value="Anón">Anón</option>
            <option value="Guanacaste">Guanacaste</option>
          </select>
          <p>Ingrese la información requierida para la realización del calculo de CO2:</p>
      <div class="form-group">
        <input type="text" class="form-control" name="tasadefotosintesis" placeholder="tasa de fotosintesis (Ej: árbol x = 10)" value="{{tasadefotosintesis}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="área" placeholder="Área (universidad en m^2)" value="{{area}}">
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="denisdaddelaire" placeholder=" (Densidad del aire: 1.225 g/m^3)" value="{{denisdaddelaire}}">
      </div>
      <!-- Botón para realizar el cálculo -->
      <button onclick="calcularMultiplicacion()">Calcular</button>
    </div>
    <!-- Mostrar el resultado del cálculo aquí -->
    <div id="resultado"></div>
    <script>
      // Función para realizar el cálculo y mostrar el resultado
      function calcularMultiplicacion() {
        // Obtener los valores ingresados por el usuario
        const tasaFotosintesis = parseFloat(document.querySelector('input[name="tasadefotosintesis"]').value);
        const area = parseFloat(document.querySelector('input[name="área"]').value);
        const densidadAire = parseFloat(document.querySelector('input[name="denisdaddelaire"]').value);
        // Realizar el cálculo de la multiplicación
        const resultado = tasaFotosintesis * area * densidadAire;
        // Mostrar el resultado en el elemento con el id "resultado"
        document.getElementById("resultado").innerText = "La cantidad de gramos de óxigeno generado por este árbol es: " + resultado;
      }
      </script>
        </div>     
         <div class="form-group">
          <label for="arbolFoto">Foto del árbol</label>
          <input type="file" id="uploadImg" name="image" required>
         </div>
         <div class="card-body">
        <button class="btn btn-primary btn-block">
          Registrar
        </button>
      </form>
    </div>
  </div>
</div>
